body
{
    background-color: black;
}

@font-face {
    font-family: 'Futura';
    src: url("fonts/futura.ttf");
}

.square{
    margin-bottom: 5px;
    width:300px;
    height:100px;
    background: #1a5cde;
    border-radius: 10px;
    text-align: center;
    line-height: 100px;
    font-family: 'Futura';
    font-size: 48px;
    color: white;
}

.squareinput {
    width:250px;
    background: transparent;
    border-radius: 0;
    font-family: 'Futura';
    font-size: 48px;
    text-align: center;
    color: white;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}

#squares
{
    width: 10%;
    height: 100px;
    line-height: 105px;
    position: absolute;
    left: 45%;
    top: 10%;
    transform: translateX(-45%);
}

